<div class="jumbotron">

  Select Forground Color :<input type="color" [(ngModel)]="fcolor"/>  <br/><br/>
  Select Backrground Color :<input type="color" [(ngModel)]="bcolor"/>  <br/><br/>

  <input type="checkbox"  [(ngModel)]="show"> Show/Hide Para 1 <br/><br/>
  
  <input type="checkbox"  [(ngModel)]="hide"> Show/Hide Para 2
  




  <div class="jumbotron"   *ngShow="show">
   <p   [fgColor]="fcolor">
    DEVELOP ACROSS ALL PLATFORMS
    Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
    SPEED & PERFORMANCE
    Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.
    
    Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.
   </p>

<div>
  
  <div class="jumbotron">

    <p>
      INCREDIBLE TOOLING
      Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.
      LOVED BY MILLIONS
      From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.
    </p>
  
  
  </div>


</div>