<div>
  <table class="table table-hover table-striped">
  <caption>
          <h2>{{title}}</h2>
  </caption>
       <thead>
  <tr>
          <th>ALBUM ID</th>
          <th>PHOTO ID</th>
          <th>TITLE</th>
          <th>URL</th>
          <th>THUMBAIL URL</th>
          <th>PHOTO</th>
          
  </tr>
  </thead>    
  <tbody>
  <tr *ngFor="let p of photos">
          <td>{{p.albumId}}</td>
          <td>{{p.id}}</td>
          <td>{{p.title}}</td>
          <td>{{p.url}}</td>
          <td>{{p.thumbailUrl}}</td>
          <td>   <img [src]="p.url" width="150" height="150"></td>
    </tr>
  </tbody>
  </table>
  </div>