<div>

    <div>
        <div class="container">
            <div class="text-center">
                <h1>Angular 2 - Pagination Example with logic like Google</h1>
    
            <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


  <table class="table table-hover table-striped">
  <caption>
          <h2>{{title}}</h2>
  </caption>
       <thead>
  <tr>
          <th>POST ID</th>
          <th>COMMENT ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>BODY</th>
          
          
  </tr>
  </thead>    
  <tbody>
  <tr *ngFor="let c of pagedItems">
          <td>{{c.userId}}</td>
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>{{c.body}}</td>
      </tr>
  </tbody>
  </table>
  </div>